@{
    ViewBag.Title = "Home Page";
}


<a href="#/contactng"> Contact ng</a>
<a href="#/aboutng"> About ng </a>
<a href="#/workarea"> Work Area ng </a>

<br/>

<a href="#/login"> Login </a>


<div ng-view="">

</div>
