

<form action="/" method="post">

    User Name : <input type="text" name="txtUserName" value=""  ng-model="username"/>      <br/>
    Password : <input type="password" name="txtPassword" value="" ng-model="password" />

    <button type="button" ng-click="submit()">Login</button>

    <div ng-bind="username">
        
    </div>

   Banner Show :  {{showBanner}}

   <div my-dir>

   </div>
              <br/>

    <div my-dir>

    </div>


  

</form>