<h2>View</h2>

<div ng-cloak>
   
       <div ng-repeat="cust in customers | orderBy : 'name' | filter : {name : filter} ">
            <div>
                {{cust.name | uppercase}}   {{cust.country | lowercase}}
            </div>
           <br/>
       </div>

    <form name="frmForm">

        <input type="text" name="txtSearch" ng-model="filter"  />

        <input type="text" name="txtName" ng-model="newCustomer.name"  required />
        <input type="text" name="txtcount" ng-model="newCustomer.country" value="" />
        <input type="button" name="save" value="Save" ng-click="addCustomer()" />

        <input type="button" name="save" value="doub" ng-click="Multiply(56)" />

        {{doubledValue | ndcformat:'base'}}


        <input type="text" name="txtcount" ng-model="newCustomer.country" value="" />


        <select ng-model="selectedName" ng-options="cust.name for cust in customers"></select>

    </form>

    <h1> D : {{frmForm.txtName.$valid}}</h1>



</div>

